<body>
<h2 align="center"> 东江海鲜酒家 </h2>

<h4 style="margin-left: 10px"> 风味：</h4>
<div class = "row">
  <div class = "column left">
    <div class="flex-container">
      <div><input type="radio" value="garlic" name="spice" [(ngModel)]="spiceChosen" style="margin-left: 40px" required> 蒜蓉 </div>
      <div><input type="radio" value="pepper" name="spice" [(ngModel)]="spiceChosen" style="margin-left: 40px" required> 椒盐 </div>
      <div><input type="radio" value="scallion" name="spice" [(ngModel)]="spiceChosen" style="margin-left: 40px" required> 姜葱 </div>
      <div><input type="radio" value="XO" name="spice" [(ngModel)]="spiceChosen" style="margin-left: 40px" required> 避风塘 </div>
      <h4 style="margin-left: 10px"> 食材：</h4>
      <div><input type="radio" value="lobster" name="food" [(ngModel)]="foodChosen" style="margin-left: 40px" required> 龙虾 </div>
      <div><input type="radio" value="crab" name="food" [(ngModel)]="foodChosen" style="margin-left: 40px" required> 螃蟹 </div>
      <div><input type="radio" value="beef" name="food" [(ngModel)]="foodChosen" style="margin-left: 40px" required> 牛肉 </div>
    </div>
  </div>
  <div class="column right">
    <div class="flex-container">
      <div><img src="https://static.wixstatic.com/media/bc40e6_c0d6ae5407c74698bb9ef4e51cb3f0de~mv2_d_1500_1200_s_2.jpg" alt="lobster" style="width:200px;height:160px;"></div>
      <div><img src="https://static.wixstatic.com/media/bc40e6_acee80586a8b45a89da68010bf7f0097~mv2_d_1500_1200_s_2.jpg" alt="crab" style="width:200px;height:160px;"></div>
      <div><img src="https://static.wixstatic.com/media/bc40e6_d319510f6d72422d8b328b6101842b2b~mv2_d_1500_1200_s_2.jpg" alt="fish" style="width:200px;height:160px;"></div>
    </div>
  </div>
</div>

<br>
<div class = "wrapper">
  <button type="button" class="btn btn-primary" (click)="isResultGood()" style="margin-right: 10px"> 点菜! </button>
  <button type="button" class="btn btn-primary" (click)="clearChosen()"> 清除 </button>
</div>
<br>

<div *ngIf="isClear">
  <div class = "wrapper"> 请点菜. </div>
</div>

<div *ngIf="isChosen">
  <div class="informBoxBoarder" *ngIf="goodResult; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock> <div class = "wrapper"> 好菜! </div> </ng-template>
  <ng-template #elseBlock> <div class = "wrapper"> 您的口味重了一些! </div> </ng-template>
</div>

<div align="center"> 本酒家谢绝自带酒水, 谢谢合作！</div>

</body>
