<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<hr>
<h4>This is a counter</h4>
<p> {{ counter }} </p>
<button class="btn btn-primary" (click)="counterPlus()" style="margin-right: 10px"> Add One</button>
<button class="btn btn-primary" (click)="resetCounter()"> Reset Counter</button>-->

<hr>
<h4>风味：</h4>
<div *ngFor="let spice of spices">
  <div style="margin-bottom: 2px; display: flex; justify-content: space-between">
    <div><input type="radio" checked="checked" name="Spice"> <span> {{ spice }} </span></div>
  </div>
</div>

<h4>食材：</h4>
<div *ngFor="let element of food">
  <div style="margin-bottom: 2px; display: flex; justify-content: space-between">
    <div><input type="radio" checked="checked" name="Food"> <span> {{ element }} </span></div>
  </div>
</div>

<br>
<button type="btn btn-primary" (click)="isResultGood()"> 做菜! </button>
<hr>
<div class="informBoxBoarder" *ngIf="goodResult; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>'好菜!'</ng-template>
<ng-template #elseBlock>'您的口味重了一些!'</ng-template>


<!--<div *ngIf="!goodResult" class="informBoxBoarder"> '您的口味重了一些!' </div>-->
<!--<div *ngIf="isLogin" class="informBoxBoarder"> You Loggedin as {{ userName }} </div>-->
<!--<button type="button" onclick="alert('好菜!')"> 做菜! </button>-->
<!--<button class="btn btn-light" (click)="login()" style="margin-right: 10px"> Login </button>-->

<!--<div>
  <span> User Name: </span>
  <input type="text" [(ngModel)]="userName">
</div>-->

<!--<div *ngIf="show; then thenBlock; else elseBlock">this is ignored</div>
<ng-template #primaryBlock>Primary text to show</ng-template>
<ng-template #secondaryBlock>Secondary text to show</ng-template>
<ng-template #elseBlock>Alternate text while primary text is hidden</ng-template>
<div *ngIf="isLogin; then showTemplate else hideTemplate"></div>-->

<!--<ng-template #showTemplate>
  <p>Condition Passed!</p>
</ng-template>

<ng-template #hideTemplate>
  <p>Condition Failed!</p>
</ng-template>-->


<!--<hr>
<h4>This is a input Box with Event Binding</h4>
<div>
  <span>User Name: </span>
  <input type="text" (input)="onUpdateUserName($event)">
</div>

<div>
  <span>Password: </span>
  <input type="password">
</div>
<div *ngIf="isLogin" class="informBoxBoarder"> You Loggedin as {{ userName }} </div>
<button class="btn btn-light" (click)="login()" style="margin-right: 10px"> Login </button>
<button class="btn btn-light" (click)="signOut()"> Sign Out </button>-->

<!--<hr>
<h4>This is a input Box with Two Way Data Binding</h4>
<div>
  <span> User Name: </span>
  <input type="text" [(ngModel)]="userName">
</div>

<div>
  <span>Password: </span>
  <input type="password">
</div>
<div *ngIf="isLogin" class="informBoxBoarder"> You Loggedin as {{ userName }} </div>
<button class="btn btn-light" (click)="login()" style="margin-right: 10px"> Login </button>
<button class="btn btn-light" (click)="signOut()"> Sign Out </button>

<router-outlet></router-outlet>-->
